* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display";
}

*::selection {
  color: crimson;
  background-color: black;
}

*::-webkit-scrollbar{
  display: none;
}

html,
body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.main {
  width: 100vw;
  height: auto;
  background-color: black;
  /* overflow: hidden; */
}

/* Content */



/* @media (max-width: 1280px){
  .slide01 .textContent{
    width: 100%;
  }

  .textContent h2{
    font-size: 6.5vw;
  }

  .textContent p{
    font-size: 1.5vw;
    width: 50%;
  }

  .textContent button{
    font-size: 1.5vw;
  }
} */

@media (max-width: 768px) {
  .navbar .center,
  .navbar .right {
    display: none;
  }
  
  .navbar .menuLogo {
    display: block;
    gap: 5vw;
    width: auto;
  }

  .navbar .searchField{
    top: 0;
    opacity: 1;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .navbar .searchField input{
    opacity: 0.8;
  }

  .main .sideMenu{
    width: 45vw;
  }

  .main .sideMenu .shopMenu{
    padding: 2vh;
  }

  .slide01 .textContent{
    width: 100%;
    top: 15vh;
  }

  .textContent h2{
    font-size: 12.5vw;
    width: 100%;
  }

  .textContent p{
    font-size: 3vw;
    width: 100%;
    margin: 2vh 0;
  }

  .textContent button{
    font-size: 3vw;
    padding: 1.5vh 5vw;
  }
}

@media (max-width: 500px) {
  .navbar .center {
    display: none;
  }

  .navbar .right {
    display: none;
  }

  .navbar .menuLogo {
    display: block;
  }

  .navbar .searchField {
    top: auto;
    opacity: 1;
  }
  .main .dropdown {
    display: none;
    width: 100vw;
  }

  .main .sideMenu{
    width: 55vw;
  }

  .slide01 .textContent{
    width: 100%;
  }

  .textContent h2{
    font-size: 16vw;
  }

  .textContent p{
    font-size: 4.8vw;
  }

  .textContent button{
    font-size: 4.8vw;
  }
}

