.main{
    padding-top: 9vh;
}

.top{
    width: 100vw;
    padding: 2vw;
}

.top h1{
    font-size: 70px;
    color: grey;
    font-weight: 400;
}

.middle{
    width: 100vw;
    background-color: aqua;
}