.main{
    width: 100vw;
    min-height: 100vh;
    padding-top: 13vh;
    background-color: black;
    color: white;
}

.main h1{
    font-size: 70px;
    font-weight: 400;
    color: grey;
    padding: 0 2vw;
    margin-bottom: 40px;
}

table{
    width: 90vw;
    background-color: white;
    font-size: 20px;
    padding: 0.5vw;
    border-radius: 5px;
    text-align: center;
    table-layout: fixed;
}

table thead th{
    padding: 0.2vh 0.5vw;
}

table tr td{
    padding: 2vh 0vw;
}

.deleteBtn{
    padding: 0.6vh 0.8vw;
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.checkoutBtn{
    padding: 0.6vh 0.8vw;
    background-color: rgb(0, 150, 50);
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}