.main{
    width: 100vw;
    min-height: 100vh;
    padding-top: 15vh;
    background-color: black;
    color: white;
}

.main h1{
    font-size: 50px;
}

table{
    width: 80vw;
    background-color: white;
    font-size: 20px;
    padding: 0.5vw;
    border-radius: 5px;
}

table thead th{
    padding: 0.2vh 0.5vw;
}

table tr{
    font-size: 20px;
}

table tr td{
    padding: 2vh 5vw;
}

.deleteBtn{
    padding: 0.6vh 0.8vw;
    background-color: rgb(255, 0, 0);
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}